@using Humanizer;

@model List<Project>

@{
    ViewData["Title"] = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Projects</h1>

@foreach (var project in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters @project.BackgroundCssClass">
            @if (project.ImagePath != null)
            {
                <div class="col-md-4 align-self-center">
                    <a href="@project.RepositoryURL" target="_blank"><img style="padding: 0 30px" src="@project.ImagePath" class="card-img" alt="@project.Name"></a>      
                </div>
            }
            else
            {
                <div class="col-md-4 align-self-center text-center">      
                    <h1 class="display-4">@(new string(project.Name.Split(' ').Select(s => s[0]).ToArray()))</h1>
                </div>
            }
            <div class="col-md-8 bg-white">
                <div class="card-body">
                    <h5 class="card-title"><a href="@project.RepositoryURL" target="_blank">@project.Name</a></h5>
                    <p class="card-text">@project.Description</p>
                    @if (project.Tags.Any())
                    {
                        <p>
                            @foreach (var tag in project.Tags)
                            {
                                <span class="badge badge-pill badge-primary">@tag</span>
                            }
                        </p>                   
                    }
                    <p class="card-text border-bottom-0"><small class="text-muted">Last commit @project.LastUpdated.Humanize()</small></p>
                </div>
            </div>
        </div>
    </div>
}
